canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  width: 30vw;
  color: white;
  z-index: 99;
  position: absolute;

  margin: 0px auto;
  padding: 120px 10px;

  display: grid;
}

.btn {
  font-size: 0.8rem;
}

a {
  width: 13vw;
}

code {
  font-size: 20px;
  color: #e65394;
  background: #ffffff40;
}
